body {

    background-color: #f3f5f7;
}



h1{
    color: azure;
    position: center;
}
h2{
    color: azure;

}
.w{
    width: 1700px;
    margin: auto;

}
.header{
    height: 60px;
    margin: 20px auto;

}
.logo{
    float: left;
    width: 198px;
    height: 60px;
}

.logo img{
    width: 100%;
}
.title{
    float: left;
    display: inline-block;
    height: 60px;
    margin-left: 30px;
    margin-top: 12px;
    font-size: 30px;
    font-weight: bold;
    color: black;
}
.banner{
    padding: 20px;
    background-image: url("/static/chat/images/bg3.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
    height: 950px;
    background-color: #021c3f;
    border-width: 5px;
    border-style: solid;
    border-color: #f3f5f7;
}
.monitor{
    float: left;
    width: 800px;
    height: 660px;
    border-width: 5px;
    border-style: solid;
    border-color: #041e46;
    background: rgba(0,0,0,0.3);
}
.monitor img{
    width: 100%;
}
.monitor_title{
    width: 800px;
    height: 60px;
    background-color: #041e46;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
    color: azure;
    font-weight: bold;
    font-size: 30px;

}


.monitor_side{
    width: 300px;
    height: 250px;
    display: flex;
    margin-right: 33px;
}
.monitor_side img{
    width: 100%;
}

.data_show{
    float: right;
    width: 800px;
    height: 660px;
    border-width: 5px;
    border-style: solid;
    border-color: #041e46;
}
.gauges{
    width: 300px;
    height: 250px;
    display: flex;
    margin-right: 33px;
}
    .lb{
        float: left;
        display: flex;
        width: 1650px;
        height: 250px;
        margin: 20px;
        border-width: 5px;
        border-style: solid;
        border-color: #041e46;
        background-color:#100c2a;
        opacity:1;
    }


    .indicator-container {
      display: flex;
      align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      margin-right: 10px;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
    .indicator-text {
      display: inline-block;
      width: 200px;
      text-align: center;
    }
